/* GAME DETAIL */
.game-detail {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

.game-detail h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #00aaff;
}

.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.gallery img {
  width: 30%;
  border-radius: 8px;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.game-detail p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #ccc;
}

.game-detail button {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  background: #00aaff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.game-detail button:hover {
  background: #008ecc;
}
